<form method="post" action="/products/add" enctype="multipart/form-data">
    <input type="file" name="product-image" id="photo" />
    <input type="file" name="product-image" id="photo" />
    <input type="file" name="product-image" id="photo" />
    <button type="submit">Submit</button>
</form>
{{!-- <h1>
    {{img}}

</h1> --}}